code:not([class]){
    font-style: oblique;
}

body{
    background-image: linear-gradient(rgba(66,96,189, 0.2), rgba(66,96,189, 0.4));
}

table th {
    background-color: rgba(66,96,189, 0.9);
    color: rgb(244, 234, 202); 
}

table tbody tr:nth-of-type(2n) {
    background-color: rgba(66,96,189, 0.2);
    color: black;
}
